body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

header {
    background-color: #a30808;
    padding: 15px;
    color: white;
    text-align: center;
}

#pokemonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url('pokemon.jpg'); /* Substitua com o caminho para a sua imagem de fundo */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    align-items: center;
}

.pokemon-card {
    width: 200px;
    margin: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

.pokemon-card img {
    display: block;
    margin: 0 auto;
}

.pokemon-card p {
    text-transform: capitalize;
    margin-top: 10px;
}

.pokemon-card button {
    background-color: #b10d07;
    color: white;
    padding: 7px 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 10px;
}

.pokemon-card button:hover {
    background-color: #e7140c;
}

.navigation button {
    background-color: #3f12f4;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 25px;
}

.navigation button:hover {
    background-color: #052668;
}