/* Arquivo CSS para estilizar a página principal (index.html) */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

header {
    background-color: #a30808;
    padding: 15px;
    color: white;
    text-align: center;
}

#pokemonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pokemon-card {
    width: 200px;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centraliza o texto dentro do card */
}

.pokemon-card img {
    display: block;
    margin: 0 auto; /* Centraliza a imagem no card */
}

.pokemon-card h3 {
    text-transform: capitalize; /* Converte a primeira letra para maiúscula */
    margin-top: 10px;
}

.pokemon-card button {
    background-color: #b10d07; /* Cor de fundo verde para os botões */
    color: white;
    padding: 7px 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 10px;
}

.pokemon-card button:hover {
    background-color: #e7140c; /* Cor de fundo verde mais escura no hover */
}

/* Adicione mais estilos conforme necessário */
